.slide-container {
  width: 100%;
  margin: auto;
}

.slide-container.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slide-container button {
  border-radius: 0;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.each-slide p {
  text-align: center;
}

.indicator {
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.indicator.active {
  background: #000;
  color: #fff;
}
