:root {
  --bs-border-color-translucent: #000000;
  --bs-navbar-color: #000000;
  --bs-btn-border-radius: 0;
}

body {
  padding: 20px;
}

div.main-column {
  width: 70%;
  margin: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar {
  --bs-navbar-color: rgba(0, 0, 0, 0.5);
  --bs-navbar-hover-color: rgb(0, 0, 0);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0);
  --bs-navbar-toggler-border-color: #ffffff00;
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-icon-bg: url('../static/menu.svg');
  --bs-navbar-toggler-border-color: #ffffff00;
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-toggler-transition: unset;
}

#background-image {
  background-image: url('../static/bg_tilt.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  content: '';
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.profile {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  overflow: hidden;
  background-color: #74a2d4;
  clip-path: circle();
}

.terminal-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.terminal-card.navbar {
  padding: 0px;
}

.dropdown-menu {
  border-radius: 0;
}

.leftcolumn {
  float: left;
  width: 35%;
}

.rightcolumn {
  float: left;
  width: 65%;
  padding-left: 20px;
}

img {
  max-width: 75%;
  max-height: 75%;
}

img.profile {
  content: url('../static/profile.jpg');
}

@media screen and (max-width: 992px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  div.main-column {
    width: 100%;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
